@charset "UTF-8";


/* --- Cards View Mode --- */

.card-deck .card {
    min-width: @cards_size;
    width: @cards_size;
    max-width: @cards_size;
}

.card-deck .card:hover {
	cursor:pointer;
}
.mx-card-selected {
	border: 2px solid @active_color !important;
	transition: border linear 150ms;
	-webkit-box-shadow: 0 0 0.4rem 0.5rem @active_color;
  	box-shadow: 0 0 0.4rem 0.05rem @active_color;
  	transition: border linear 150ms,box-shadow 150ms;
}

.mx-card-darker-bg {  
  background: rgba(0, 0, 0, 0.2); 
  color:rgba(240,240,240) ;	
  transition: background linear 150ms,color 150ms;
}

.mx-card-lighter-bg {  
  background: rgba(0, 0, 0, 0.1); 
  color:#555 ;	
  transition: background linear 150ms,color 150ms;
}


/* --- Table View Mode --- */

.mx-tableview-col-header {
	background:@background_color;
}


.mx-tableview-col-header,.mx-tableview-col {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	text-align:center;
	

}