@charset "UTF-8";


/* --- Menus --- */

.topbar .dropdown-list .dropdown-header {
  background-color: @primary_color;
  border: 1px solid @primary_color;
  color: @background_color;
 }
 
 .dropdown-item {
 	color: @text_color;
 }
 .dropdown-item:hover, .dropdown-item:focus {
	color: @text_color;
 	background-color: @bg_light;
 }
 .dropdown .dropdown-menu .dropdown-header {
 	color: @counter_text_color;
 }
 
 .mx-selected-dropdown {
 	background-color: @bg_light;
 }
 
 .mx-collapse {
 	background-color: @primary_color;
 }
 .mx-collapse-item {
 	background-color: @primary_hover;
 }
 .mx-collapse-item:hover {
 	background-color: @primary_hover !important;
 }
 
 .mx_sub_button {
 	border:1px solid grey;
 	border-radius:5px;
 	font-size:0.8rem;
 	font-style:italic;
 	margin-bottom:5px;
 	padding:3px;
 } 
 .mx_sub_button:hover {
 	cursor:pointer;
 	background:white;
 }
 
 .mx_filter {
 	margin-top:0 !important;
 	margin-bottom:0.2rem !important;
 	margin-left:0.3rem !important;
 	margin-right:0.3rem !important;
 	background:@bg_light_light;
 	font-size:0.6rem;
 	color:black;
 	heigt:1rem;
 	padding:0.3rem;
 }
 
.mx_filter:hover {
	background:@bg_dark;
	cursor:pointer;
}
.mx_filter_selected {
	border:2px solid @primary_color;
	background:@active_color !important;
}

.mx_filters_active {
	background:@active_color !important;
	color:#373 !important;
	border:none;
	box-shadow:1px 1px 1px #777;
	
}

/* not applied in non-debug mode, don't know why ... */
.mx-header-filter-shortcut-active {
	background:@active_color !important;
}

.mx_filters_nb_active {
	font-size:0.6rem;
	color:@primary_color;
	position:absolute;
	top:3px;
	right:5px;	
}

/* ---- Right Sidebar ---- */

.right-sidebar-wrapper {
	
	z-index:1000;
	position:absolute;
	right:30vw;
	width:0;
	margin-right:-30vw;
	overflow-y:auto;
	transition:all 0.5s ease;
	height:80vh;
	border:2px solid @shadow_color;
	padding:0;
}
#details-wrapper.toggled .right-sidebar-wrapper {	
	width:30vw;	
	background:@bg_light_transparent;		
}

.kibana-iframe {
	width:95%;
	height:70vh;
	border:none;
}
