<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <!--Property name="basePath">{sys:mx.logs.path}</Property-->
        <!--Property name="basePath">${catalina.home}/logslogs</Property-->
        
        <Property name="DispatcherServlet#enableLoggingRequestDetails">true</Property>
        
    </Properties>
 
    <Appenders>
        <RollingFile name="metaindex-server-logger" fileName="${sys:catalina.home}/logs/metaindex-server.log" filePattern="${sys:catalina.home}/logs/metaindex-server-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
 		<RollingFile name="metaindex-stats-file-logger" fileName="${sys:catalina.home}/logs/metaindex-stats.log" filePattern="${sys:catalina.home}/logs/metaindex-stats-%d{yyyy-MM}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="metaindex-payments-file-logger" fileName="${sys:catalina.home}/logs/metaindex-payments.log" filePattern="${sys:catalina.home}/logs/metaindex-payments-%d{yyyy-MM}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="metaindex-payments-details-file-logger" fileName="${sys:catalina.home}/logs/metaindex-payments-details.log" filePattern="${sys:catalina.home}/logs/metaindex-payments-details-%d{yyyy-MM}.log.gz">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>        
        <Logger name="org.springframework.context" level="info" additivity="true" >
        <appender-ref ref="console" />
        	<appender-ref ref="metaindex-server-logger" /> 
        </Logger>
        <Logger name="org.springframework.web" level="info" additivity="true">
        <appender-ref ref="console" />
        	<appender-ref ref="metaindex-server-logger" /> 
        </Logger>
        <Logger name="org.springframework.messaging" level="info" additivity="true">
        	 <appender-ref ref="metaindex-server-logger" /> 
        </Logger>
        <Logger name="org.springframework.web.servlet.DispatcherServlet" level="info" additivity="true">
        <appender-ref ref="console" />
        	<appender-ref ref="metaindex-server-logger" />
        </Logger>
        
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="info" >
        <appender-ref ref="console" />
        </logger> 


         
        <Logger name="metaindex.app.listeners.MetaindexContextListener" level="info" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="metaindex-server-logger" level="info" />
        </Logger>
        
        <Logger name="metaindex.app.periodic.statistics.MxStatisticsManager" level="info" additivity="false" >
            <appender-ref ref="metaindex-stats-file-logger" level="info" />
        </Logger>
        
        <Logger name="toolbox.utils.payment.PaypalPaymentInterface" level="info" additivity="false" >
            <appender-ref ref="metaindex-payments-details-file-logger" level="info" />
        </Logger>
        <Logger name="toolbox.utils.payment.SandboxPaymentInterface" level="info" additivity="false" >
            <appender-ref ref="metaindex-payments-details-file-logger" level="info" />
        </Logger>
        <Logger name="metaindex.app.control.websockets.users.PaymentLogging" level="info" additivity="false" >
            <appender-ref ref="metaindex-payments-file-logger" level="info" />
        </Logger>
        
        
         <Root level="info" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="metaindex-server-logger" level="info" />
         </Root>
    </Loggers>
</Configuration>
