<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <!--Property name="basePath">{sys:mx.logs.path}</Property-->
        <!--Property name="basePath">${catalina.home}/logslogs</Property-->
        
        <Property name="DispatcherServlet#enableLoggingRequestDetails">true</Property>
        
    </Properties>
 
    <Appenders>
        <RollingFile name="metaindex-file-logger" fileName="${sys:catalina.home}/logs/metaindex-server.log" filePattern="${sys:catalina.home}/logs/metaindex-server-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>    
    	<Logger name="org.apache.ftpserver.listener.nio.FtpLoggingFilter" level="error" additivity="false">
        	<appender-ref ref="metaindex-file-logger" /> 
        </Logger>	
        <Logger name="org.springframework.context" level="info" additivity="false">
        	<appender-ref ref="metaindex-file-logger" /> 
        </Logger>
        <Logger name="org.springframework.web" level="info" additivity="false">
        	<appender-ref ref="metaindex-file-logger" /> 
        </Logger>
        <Logger name="org.springframework.messaging" level="info" additivity="false">
        	<appender-ref ref="metaindex-file-logger" /> 
        </Logger>
         
        <Logger  name="metaindex.app.listeners.MetaindexContextListener" level="info" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="metaindex-file-logger" level="info" />
        </Logger>
        
         <Root level="info" additivity="false">
            <!--appender-ref ref="console" /-->
            <appender-ref ref="metaindex-file-logger" level="info" />
         </Root>
    </Loggers>
</Configuration>
