

@charset "UTF-8";

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

/* needed otherwise modal is over the popup messages from footer */
.mx-modal {
	z-index:1000;
}
.maintenance {
	font-size : 2rem;
	color: orange;
	font-weight: bold;
	text-align:center;
	width:100%;
}
input[type="file"] {
    display: none;
}

.mx-progress {
  height: 2rem;
  border-radius: 0.15rem;
}

.mx-progress-bar-contents {
	line-height:2rem;
	font-size:1rem;
	color:lightgrey;
}

.mx-progress-bar-quota-contents {
	line-height:2rem;
	font-size:1rem;
	color:#444;
}

.mx-editable {
	/* necessary to keep bottom border visible */
	display:inline-block;
}
.mx-cookies-alert {
	margin-left:20vw;	
	margin-bottom:3vw;
	padding-top:2rem;
	padding-bottom:2rem;	
	width:60vw;
	text-align:center;
	font-size:1.1rem;
	color:#666;
	background:#fafafa;
	border:2px solid #888;
	border-radius:5px;
	opacity:95%;
	box-shadow:2px 4px 10px;
}
.mx-current-item-area-closed {
	max-height:0;
	overflow:hidden;
	background:#d5d5d5;
	transition: max-height 10ms ease-out;
}

.mx-current-item-area-open {
	max-height:60vh;
	transition: max-height 200ms ease-in;	
	margin-bottom:0.5rem;
	overflow:auto;
	box-shadow: inset 0px 0px 4px 0px #bbb;
	
}

.mx-perspective-details-header {
	border-radius: 2px;
	margin-top: 0.4rem;	
}

.mx-perspective-field-img:hover {
	cursor:pointer;
}

.mx-perspective-field-longtext,.mx-perspective-field-longtext-mini {
	text-align:left;
	width:100%;	
	overflow:auto;
}

.mx-perspective-field-longtext-pleasewait {
	text-align:center;	
	color:#67a;
	font-weight:bold;
}

.mx-perspective-field-longtext-mini:hover {
	cursor:context-menu;
}


.mx-details-container {
  display: grid;
  grid-gap: 15px; 
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
/*   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) 150px); */
  /*  grid-template-columns: 1fr 1fr 0fr; */
  grid-auto-flow: dense;
}

.mx-navbar {
	box-shadow: 0rem 0.08rem 0.2rem 0rem #bbb;
}
.mx-card {
	box-shadow: 0.1rem 0.15rem 0.3rem 0rem #999;
	max-height:12rem;
}
.mx-details-card {
	background:none;
}

/* 
   special class to anchors so that when jumbing to anchor it is more or less
   to the middle, not right on the top of the screen
*/
a.anchor_middle {
    display: block;
    position: relative;
    top: -40vh;
    visibility: hidden;
}
a.anchor_top {
    display: block;
    position: relative;
    top: -15vh;
    visibility: hidden;
}

.mx-selected-dropdown {
	/* background set in less */
	margin-bottom:2px !important;
}


.mx-perspective-field {	
	background:inherit;
	/*border:1px dashed orange;*/
	width:min-content;
	vertical-align:middle;
	text-align:center;
	/*margin-right:10vw;
	margin-left:5vw;*/
	/*
	max-width:50vw !important;
	min-width:100px !important;
	*/
	/*	
	justify-content:center !important;
	display:flex !important;
	*/
}

.mx-perspective-textarea {
	text-align:left;
	overflow:auto;
	background:#fff;
	font-family:"Times New Roman", Times, serif;  
   	font-size: 0.8rem; 
   	resize:none;
   	width:15vw;

}
.mx-perspective-field-enumval {
	background:#e7e7e7;
	border-radius:5px;
	padding:0;
	margin:0.1rem;
	border:1px solid #bbb;
	text-align:center;
}
.mx-perspective-field-custom-table {	
	padding:0.2rem;
	padding-right:0;
	font-size:0.7rem;
}

.mx_perspective-field-customizable_card {
	max-width:150px !important;
	border:1px dotted grey;
}

.mx-perspective-field-link-weight-button-plus,.mx-perspective-field-link-weight-button-less {	
	width:1.5em;
	height:1.5em;
	text-align:center;
	color:white;	
	font-weight:bold;
	
}

.mx-search-input {
width:30vw !important;
height:40px;
/*margin-right:1rem;*/
}

.mx-dropdown {
	border-radius:3px;
	font-size:0.8rem;
	height:40px;
}

.mx-mapping-enums-readonly {
	border:none;
	color:grey;
}

 /* ---------- Dynamic Dropdown ------------ */
.mx_dyndropdown_btn {
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  background:none;
  /*border-bottom: dashed 1px #0088cc;*/
}

.mx_dyndropdown_btn:hover, .mx_dyndropdown_btn:focus {
	background:none;
}

.mx_dyndropdown_searchinput {
  box-sizing: border-box;
  width:100%;
  padding-left:5px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.mx_dyndropdown_searchinput:focus {outline: 2px solid #ddd;}

.mx_dyndropdown_content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 130px;
  border: 1px solid #ddd;
  z-index: 1;
  max-height:90px;
  overflow:auto;
}

.mx_dyndropdown_content a {
  color: black;
  font-size:0.6rem;
  padding:6px 8px;
  text-decoration: none;
  display: block;
}
.mx_dyndropdown_content a:hover {background-color: #f1f1f1}
.show {display:block;} 

.mx_welcome_navbar {
	box-shadow:0 1px 2px #aaa;
	margin-top:0;
	width:100%;
	height:8rem;
	background: linear-gradient(to bottom, #ffffff 0%, #ddd 100%);
}

.mx-welcome-navbar-btn {
	width:10vw;
	font-size: 1rem !important;
	padding:0.4rem !important;
	margin:0.3rem !important;	
}

.mx_welcome_card_title {
	font-size:3vw;
	color:#619cd1;
	font-weight:bold;
}

.mx_welcome_input {
	background:#f5f5f5;
	border-radius:5px !important;
	width:75%;
}
.mx_welcome_card_body {
	font-size:0.9rem;
	/*
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 250ms ease-in-out;
	*/
}

.mx_welcome_card_body.is-visible {
	display: block;
	height: auto;
}

.mx_welcome_card_body_link {
	color:green;
}
.mx_welcome_card_body_link:hover {
	color:#ecad79;
}

.up-right {
	position: absolute;
	z-index: 10000;
	margin-top:3vh;
	/*margin-left:80vw;*/
	margin-right:20vw;	
	padding:2rem;
}
.mx_welcome_capture_img {
	max-height:11vw;	
	border:3px solid grey;
	border-radius:2px;
	box-shadow: 0 0 0.3rem 0.05rem #aaa;
  	position: absolute;
	z-index: 10000;
	margin: 2rem;
	margin-top:7vh;
	margin-left:6vw;
	/*transform: rotate(-3deg);*/
}

.mx_welcome_screenshot {
	max-width:40vw;
	height:auto;
	margin-top:1.5rem;
}
.mx-slideshow-title {
	font-weight:normal;
	color:#77b !important;
	font-size:1.5rem !important;
	background:none !important;
}

.mx-welcome-globaltext {
	font-size:1vw;
	color:#777;
	margin:0;
	padding:0;
	text-shadow:none;
	
}
.mx_welcome_card_ul li {
	text-align:left;
	word-wrap:normal;
	width:100%;
	margin-bottom:0.5rem;
	margin-top:1rem;
}
.mx_termsAndConditions_li {
	margin:0.2rem;
	margin-top:0.6rem;
	font-size:0.9rem;
	
} 
.mx_welcome_card_li_contents {
	font-family: sans-serif;
	font-weight:normal;
	margin-left:0.3rem;
	font-size:1.8rem;
}
.mx_welcome_card_details {
	font-family: sans-serif;
	font-weight:normal;
	margin-left:2rem;
	text-shadow:none;
	color:grey;
	background:#eee;
	border-radius:2px;
	padding:0.5rem;
	font-size:1rem;
}

.mx_welcome_card_ul li:before {
	/*
	font-family: 'FontAwesome';
    content: '\f067';
    margin:0 5px 0 -15px;*/
    color: #0a0;    
}

.mx_welcome_btn {
	margin-left:1rem;
	margin-right:1rem;
	border-radius:5px;
	color:white;
	padding:1rem;		
	font-size:0.8rem;
			
	background:#567;
	border-color:#789;
}

.mx_welcome_btn:hover {
	color:#fff;	
	border-color:#fff;
	border-radius:15px;
	box-shadow: 0.1rem 0.1rem 0.15rem 0.04rem #bbb;	
}

.scale,.scale-color-white,.scale-color-blue,.scale-color-green,.scale-bgcolor-white,.mx-help-icon {	
	transition: all 0.3s ease-in-out;
}
.scale:hover {	
	transform:scale(1.1);	
}
.scale-color-white:hover {	
	color:white;
}
.scale-color-blue:hover {	
	color:#619cd1;	
	text-shadow:1px 2px 3px #999;
	cursor:default;	
}
.scale-color-green:hover {	
	color:green;	
	text-shadow:2px 3px 6px #666;
	cursor:default;	
}

.scale-bgcolor-white:hover {	
	background:white;
}

.mx-copyright {
	font-weight:lighter;
	text-shadow:none;
	color:grey;
	font-size:0.7rem;
	padding:0;	
}
.mx-left-button {
	padding-left:0.5rem;
	margin-left:1rem;
	margin-bottom:1rem;
	text-align:left;
	font-size:0.75rem;
	width:80%;
}
.mx-left-button:hover {
	cursor:pointer;
}
.mx-button-active-editmode {
	border:2px solid orange;
	color:#338;
	box-shadow:2px 2px 3px #eedca7;
	/*background:orange;*/
}

.mx-lang-flag {
	height:20px;
	border-radius:20px;
	margin:0.5rem;"
}
.mx-lang-flag:hover {
	box-shadow:2px 2px 3px #888;
	cursor:pointer;	
}

.mx-help-icon {
	padding:0.4rem;	
}
.mx-help-icon:hover {
	color:#36d;
	font-weight:bold;
	cursor:pointer;
	transform:scale(1.5);
}

.mx-history-disabled-nav-button {
	color:#eee;
}
.mx-history-disabled-nav-button:hover {
	color:#eee;
	transform:scale(1.0);
	cursor:default;
}

.mx-text-button {
	border:2px solid grey;
	border-radius:2px;
	padding:0.2rem;
}
.mx-text-button-active,.mx-text-button:hover {
	color:#ddd;
	background:grey;	
	cursor:pointer;
}
.mx-text-button-active {
	border:2px solid #8d8;
}
.mx-table-rounded-rows {
	width: 95%;
	text-align: center;
	margin: 1rem;
    border-collapse: separate;
    border-spacing: 0 1rem;    
}

.mx-table-rounded-rows tr { border: none; }
.mx-table-rounded-rows td { border: none; background-color:#eee; padding-top:1rem;padding-bottom:1rem; }
.mx-table-rounded-rows tr td:first-child { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.mx-table-rounded-rows tr td:last-child { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }

.mx-table-rounded-row-selected {
	border : 2px solid #555;
	color:#555;
	box-shadow:2px 4px 10px;
}
.mx-table-rounded-row-selected td { border-top: 2px solid #555; border-bottom: 2px solid #555;}
.mx-table-rounded-row-selected td:first-child { border-left: 2px solid #555; }
.mx-table-rounded-row-selected td:last-child { border-right: 2px solid #555; }

.mx-table-rounded-row-hover {
	box-shadow:2px 4px 10px;
	cursor:pointer;
}

.mx-btn-disabled {
	background:grey;
	color: #555;
	border:none;
	curser:none;
	
}

.mx-tiny-warning {
	color:#f44;
	font-weight:bold;
	/*background:grey;*/
	
}

.mx-error-detail {
	margin:1rem;
	border:1px dashed grey;
	color:#999;
	font-family:'Courier New';
	font-size:0.8rem;
	padding:0.3rem;
}

.mx-btn-red-alert {
	background:#e99;
	border:2px solid #911;
	color:#911;
}
.mx-btn-red-alert:hover {
	border:2px dashed #911;	
}

.mx-popup-choice-list {
	width:100%;
	height:2rem;
	padding-left:3rem;
	padding-top:0.3rem;
}
.mx-popup-choice-list:hover {
	font-weight:bold;
	background:#eee;
	cursor:pointer;
}
.mx-public-form {
	 background-color:#f5f5f5;
	 background-image:none;
}

.mx-tuto-button {
	color:#eee;
	padding-left:1rem;
	margin-top:1rem;
	background:none;
	margin-left:1rem;
	margin-right:1rem;
	border-radius:3px;
	
	
}
.mx-tuto-button:hover, .mx-tuto-button-selected {
	background:#555555;
	cursor:pointer;
}
.mx-tuto-button-selected {
	border:1px solid black;
}

.mx-tuto-button-title {
	font-size:1rem;
	color:#ccc;
}

.mx-welcome-li {
	color:#444;
	/*list-style-type:'\203A';*/
	/*list-style-type:'\2713';*/
	/*list-style-type:'\2705';*/
	list-style-type:'\2727';	
	font-size:1.1rem;
	font-weight:normal;
	margin-top:1rem;
	padding-left:1rem;
	border:none;
	border-radius:3px;	
	background:none;
	
}
.mx-welcome-li:hover {
	list-style-type:'\2726';
}

.mx_script {
	font-size:0.8rem;
	margin-left:1rem;
}
<s:include value="mx-chat.css" />

